*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-areas: "nav nav nav nav"
                         "section section section section"
                         "section section section section"
                         "section section section section"
                         "card1 card2 card3 card4";
    gap: 10px;
    padding: 10px;
}

#child1 {
    background: rgb(90, 123, 223);
    grid-area: nav;
}

#child2{
    grid-area: section;
    background: lightgoldenrodyellow;
}
#card1{
    grid-area: card1;
    background: lightcoral;
    height: 150px;
}
#card2{
    grid-area: card2;
    background: lightcoral;
    height: 150px;
}
#card3{
    grid-area: card3;
    background: lightcoral;
    height: 150px;
}
#card4 {
    grid-area: card4;
    background: lightcoral;
    height: 150px;
}
