@font-face {
    font-family: myFont;
    src: url(./sf-pro-display_regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    min-height: 100%;
    width: 100%;
    font-family: myFont;
    background-color: rgb(252, 237, 205);
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-shrink: 0;
    
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    height: 400px;
    width: 300px;
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 5px 6px 15px rgb(43, 42, 42);
    transition: transform 0.3s ease-out, box-shadow 0.7s ease-out;
}
.profile:hover {
    box-shadow: 10px 10px 20px #d68010;
    transform: translateX(-5px) translateY(-5px) scale(1.01);
}
div > img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit:cover;
    outline: 3px solid #d68010;
    outline-offset: 2px;
}
.profile h1{
    text-shadow: 2px 2px 2px #f1c07f;
}
.profile p {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
#layout{
    height: 80px;
    overflow: hidden;
    background-color: #e7840b83;
    margin-bottom: 10px;
    padding: 15px 0px;
    border-radius: 30px;
}
.profile button {
    color: rgb(255, 253, 253);
    text-shadow: 2px 2px 3px #b35400;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    background-color: #f89007d5;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 0.3s ease-out, background-color 0.5s ease-out;

}
.profile button:hover {
    background-color: #d68010;
}