@font-face {
    font-family: primaryFont;
    src: url(./sf-pro-display_regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 93%;
    width: 100%;

}

#main nav {
    height: 10%;
    width: 100%;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0.9;
}

nav>ul {
    list-style-type: none;
    display: flex;
    gap: 33px;

}

nav>ul>li>a {
    text-decoration: none;
    color: aliceblue;
    font-family: primaryFont;
    font-size: 13px;
    font-weight: 100;
}

.remix {
    font-size: 20px;
}

#innermain {
    height: 100%;
    background-image: url(https://www.techspot.com/images2/news/bigimage/2025/09/2025-09-09-image-33.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

#pro {

    text-align: center;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: primaryFont;
}

#pro h1 {
    margin-top: 4%;
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#page2 {
    margin-top: 12px;
    background-image: url(https://www.apple.com/v/home/ck/images/heroes/iphone-family/hero_iphone_family__fuz5j2v5xx6y_small_2x.jpg);
    height: 93%;
    width: 100%;
    background-position: center;
    background-size: contain;
}

.pro2 {
    text-align: center;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: primaryFont;
}

.headline {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 4px;
    letter-spacing: 2px;
}

.subhead {
    font-size: 28px;
    font-weight: 100;
}

.pro2>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    font-size: 16px;
    padding: 12px 20px;
    font-family: primaryFont;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    cursor: pointer;

}

.button1 {
    color: #ffffff;
    background: #4469E3;

}

.button2 {
    background: transparent;
    color: #4469E3;
    border: 1px solid #4469E3;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}

.button2:hover {
    color: #ffffff;
    background-color: #4469E3;
    transform: translateY(-3px);
}

#page3 {
    margin-top: 12px;
    background-image: url(https://www.apple.com/v/home/ck/images/heroes/ipad-air/hero_ipad_air_avail__c34ycq52exg2_small_2x.jpg);
    height: 93%;
    width: 100%;
    background-position: center;
    background-size: contain;
}

#page4 {
    margin-top: 12px;
    height: 86vh;
    width: 100%;
    display: flex;
    gap: 12px;

}

.part1 {
    flex: 1;
    height: 100%;
    background-image: url(https://www.apple.com/v/home/ck/images/promos/macbook-air/promo_macbook_air__fqowrtnxewqe_small_2x.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 12px;
}

.part2 {
    margin-right: 12px;
    flex: 1;
    height: 100%;
    background-image: url(https://www.apple.com/v/home/ck/images/promos/ipad/promo_ipad__fioegapg12qi_small_2x.jpg);
    background-position: center;
    background-size: cover;
}

#page5 {
    margin-top: 12px;
    height: 86vh;
    width: 100%;
    display: flex;
    gap: 12px;
}

.part3 {
    flex: 1;
    height: 100%;
    background-image: url(https://www.apple.com/v/home/ck/images/promos/apple-watch-ultra-3/promo_apple_watch_ultra3__bwvslhbxx99e_small_2x.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 12px;
}

.part4 {
    margin-right: 12px;
    flex: 1;
    height: 100%;
    background-image: url(https://www.apple.com/v/home/ck/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_small_2x.jpg);
    background-position: center;
    background-size: cover;
}

.white{
    color:#ffffff
}