@font-face {
  font-family: Saifi;
  src: url(./63cffc20aa8997095067596f_Satoshi-Light.woff);
}
@font-face {
  font-family: Rafi;
  src: url(./L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}
@font-face {
  font-family: Chill;
  src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  background: #121212;
  font-family: Saifi;
}

main {
  width: 100%;
  color: white;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
main .section1 {
  flex-direction: column;
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
}
main .section1 .top {
  width: 100%;
}
main .section1 .top img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  opacity: 0.8;
}
main .section1 .bottom {
  width: 100%;
  background-color: #242424;
  padding: 1.75rem;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
main .section1 .bottom .text-up {
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 300;
  font-family: Rafi;
}
main .section1 .bottom .text-down {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
main .section1 .bottom .text-down button {
  width: -moz-fit-content;
  width: fit-content;
  background: transparent;
  opacity: 0.7;
  font-size: 1rem;
  font-weight: 500;
  font-family: Rafi;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
main .section1 .bottom .text-down button i {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}
main .section1 .bottom .text-down h1 {
  font-size: 2.2rem;
  font-weight: 500;
  font-family: Chill;
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .section1 .bottom .text-down p {
  font-size: 1.4rem;
  font-weight: 200;
  font-family: Saifi;
  line-height: 1.5;
  opacity: 0.7;
}
main .section2 {
  flex-direction: column;
  display: flex;
  gap: 2rem;
  padding: 1rem 3rem;
  flex-direction: row;
  justify-content: space-between;
}
main .section2 .left,
main .section2 .right {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  text-align: center;
}
main .section2 .left h4,
main .section2 .right h4 {
  font-size: 0.9rem;
  font-weight: 200;
  font-family: Rafi;
  opacity: 0.7;
  letter-spacing: 2px;
}
main .section2 .left p,
main .section2 .right p {
  font-size: 2rem;
  font-weight: 500;
  font-family: Chill;
  line-height: 1.5;
  letter-spacing: 2px;
}
main .section3 {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}
main .section3 .photo {
  width: 100%;
}
main .section3 .photo img {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .section3 .card {
  background: #1e1e1e;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  gap: 3rem;
  border-radius: 10px;
}
main .section3 .card .heading-content h6 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Rafi;
  opacity: 0.9;
  text-transform: uppercase;
}
main .section3 .card .bottom-content {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
main .section3 .card .bottom-content h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  font-family: Chill;
  opacity: 0.9;
}
main .section3 .card .bottom-content p {
  font-size: 1.1rem;
  font-weight: 200;
  font-family: Saifi;
  line-height: 1.4;
  word-spacing: 2px;
  opacity: 0.6;
}
main .section4 {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}
main .section4 .photo {
  width: 100%;
}
main .section4 .photo img {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .section4 .card {
  background: #1e1e1e;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  gap: 3rem;
  border-radius: 10px;
}
main .section4 .card .heading-content h6 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Rafi;
  opacity: 0.9;
  text-transform: uppercase;
}
main .section4 .card .bottom-content {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
main .section4 .card .bottom-content h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  font-family: Chill;
  opacity: 0.9;
}
main .section4 .card .bottom-content p {
  font-size: 1.1rem;
  font-weight: 200;
  font-family: Saifi;
  line-height: 1.4;
  word-spacing: 2px;
  opacity: 0.6;
}
main .section5 {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}
main .section5 .part1 {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
main .section5 .part1 article {
  background-image: url(./img3.webp);
  background-position: center;
  background-size: cover;
  aspect-ratio: 1;
  border-radius: 10px;
  opacity: 0.8;
  flex-direction: column;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
}
main .section5 .part1 article .content-top {
  flex-direction: column;
  display: flex;
  gap: 0.8rem;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
}
main .section5 .part1 article .content-top i {
  background: rgba(228, 227, 227, 0.3960784314);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: 1.1rem;
  font-weight: 100;
  padding: 0.7rem;
  border-radius: 50%;
}
main .section5 .part1 article .content-bottom {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(133, 132, 132, 0.2745098039);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
main .section5 .part1 article .content-bottom h3 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Chill;
  text-transform: uppercase;
}
main .section5 .part1 article .content-bottom p {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  font-family: Rafi;
}
main .section5 .part2 {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
main .section5 .part2 > div {
  background-image: url(./img4.webp);
  aspect-ratio: 4/3;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
main .section5 .part2 article {
  background: #1e1e1e;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
main .section5 .part2 article .article-top {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
main .section5 .part2 article .article-top p {
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 300;
  font-family: Rafi;
  text-transform: uppercase;
}
main .section5 .part2 article .article-top h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  font-family: Chill;
  opacity: 0.9;
}
main .section5 .part2 article .article-bottom {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
main .section5 .part2 article .article-bottom i {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  opacity: 0.7;
}
main .section5 .part2 article .article-bottom p {
  opacity: 0.7;
  font-size: 1rem;
  font-weight: 500;
  font-family: Rafi;
}

@media (min-width: 600px) {
  main .section1 {
    flex-direction: row;
  }
  main .section1 .bottom {
    padding: 3rem;
  }
  main .section1 .bottom .text-up {
    color: #f4f2ed;
    font-size: 0.85rem;
    font-weight: 100;
    font-family: Rafi;
  }
  main .section1 .bottom .text-down h1 {
    font-size: 3.6rem;
    font-weight: 400;
    font-family: Chill;
  }
  main .section2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    padding: 2rem 2.5rem;
  }
  main .section2 .left,
  main .section2 .right {
    display: contents;
  }
  main .section2 .left p,
  main .section2 .right p {
    font-size: 4rem;
    font-weight: 500;
    font-family: Chill;
  }
  main .section3 {
    flex-direction: row-reverse;
  }
  main .section3 .card {
    width: 50%;
    padding: 3rem;
    justify-content: space-between;
  }
  main .section3 .card .heading-content h6 {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: Rafi;
    letter-spacing: 1px;
  }
  main .section3 .card .bottom-content h3 {
    font-size: 2.9rem;
    font-weight: 500;
    font-family: Chill;
    opacity: 0.9;
  }
  main .section3 .card .bottom-content p {
    flex-direction: column;
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 200;
    font-family: Saifi;
    opacity: 0.6;
  }
  main .section3 .card .bottom-content p span {
    display: block;
  }
  main .section3 .photo {
    width: 50%;
  }
  main .section4 {
    flex-direction: row;
  }
  main .section4 .card {
    width: 50%;
    padding: 3rem;
    justify-content: space-between;
  }
  main .section4 .card .heading-content h6 {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: Rafi;
    letter-spacing: 1px;
  }
  main .section4 .card .bottom-content h3 {
    font-size: 2.9rem;
    font-weight: 500;
    font-family: Chill;
    opacity: 0.9;
  }
  main .section4 .card .bottom-content p {
    flex-direction: column;
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 200;
    font-family: Saifi;
    opacity: 0.6;
  }
  main .section4 .card .bottom-content p span {
    display: block;
  }
  main .section4 .photo {
    width: 50%;
  }
  main .section5 {
    display: grid;
    grid-template-rows: 7fr 8fr;
  }
  main .section5 .part1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  main .section5 .part2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .section5 .part2 article .article-top h3 {
    font-size: 3rem;
    font-weight: 500;
    font-family: Chill;
  }
}/*# sourceMappingURL=style.css.map */