@font-face {
  font-family: Saifi;
  src: url(./63cffc20aa8997095067596f_Satoshi-Light.woff);
}
@font-face {
  font-family: Rafi;
  src: url(./L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}
@font-face {
  font-family: Chill;
  src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}
body {
  background: #121212;
  font-family: Saifi;
}
@mixin center-flex($gap: 0) {
  flex-direction: column;
  display: flex;
  gap: $gap;
}
@mixin font($size: 1rem, $weight: 400, $family: Saifi) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}
@mixin section-manage {
  .photo {
    width: 100%;
    img {
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .card {
    background: #1e1e1e;
    padding: 2rem;
    @include center-flex(3rem);
    border-radius: 10px;
    .heading-content {
      h6 {
        @include font(0.9rem, 500, Rafi);
        opacity: 0.9;
        text-transform: uppercase;
      }
    }
    .bottom-content {
      @include center-flex(1rem);
      h3 {
        text-transform: uppercase;
        @include font(2rem, 500, Chill);
        opacity: 0.9;
      }
      p {
        @include font(1.1rem, 200, Saifi);
        line-height: 1.4;
        word-spacing: 2px;
        opacity: 0.6;
      }
    }
  }
}
@mixin section-manage-media-query {
  .card {
    width: 50%;
    padding: 3rem;
    justify-content: space-between;
    .heading-content {
      h6 {
        @include font(0.9rem, 400, Rafi);
        letter-spacing: 1px;
      }
    }
    .bottom-content {
      h3 {
        @include font(2.9rem, 500, Chill);
        opacity: 0.9;
      }
      p {
        @include center-flex(2.5rem);
        flex-direction: row;
        line-height: 1.5;
        @include font(1.2rem, 200, Saifi);
        opacity: 0.6;
        span {
          display: block;
        }
      }
    }
  }
  .photo {
    width: 50%;
  }
}
main {
  width: 100%;
  color: white;
  @include center-flex(1rem);
  .section1 {
    @include center-flex(0.75rem);
    padding: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        opacity: 0.8;
      }
    }
    .bottom {
      width: 100%;
      background-color: #242424;
      padding: 1.75rem;
      border-radius: 10px;
      @include center-flex(4rem);
      justify-content: space-between;
      .text-up {
        opacity: 0.8;
        @include font(1rem, 300, Rafi);
      }
      .text-down {
        @include center-flex(1rem);
        button {
          width: fit-content;
          background: transparent;
          opacity: 0.7;
          @include font(1rem, 500, Rafi);
          color: white;
          border: none;
          text-transform: uppercase;
          cursor: pointer;

          i {
            font-size: 1.5rem;
            vertical-align: middle;
            margin-right: 0.5rem;
          }
        }
        h1 {
          @include font(2.2rem, 500, Chill);
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        p {
          @include font(1.4rem, 200, Saifi);
          line-height: 1.5;
          opacity: 0.7;
        }
      }
    }
  }
  .section2 {
    @include center-flex(2rem);
    padding: 1rem 3rem;
    flex-direction: row;
    justify-content: space-between;
    .left,
    .right {
      @include center-flex(1rem);
      justify-content: space-between;
      text-align: center;
      h4 {
        @include font(0.9rem, 200, Rafi);
        opacity: 0.7;
        letter-spacing: 2px;
      }
      p {
        @include font(2rem, 500, Chill);
        line-height: 1.5;
        letter-spacing: 2px;
      }
    }
  }
  .section3 {
    @include center-flex(1rem);
    padding: 0 1rem;
    @include section-manage();
  }
  .section4 {
    @include center-flex(1rem);
    padding: 0 1rem;
    @include section-manage();
  }
  .section5 {
    @include center-flex(1rem);
    padding: 0 1rem;
    .part1 {
      @include center-flex(1rem);
      article {
        background-image: url(./img3.webp);
        background-position: center;
        background-size: cover;
        aspect-ratio: 1;
        border-radius: 10px;
        opacity: 0.8;
        @include center-flex(1rem);
        padding: 1rem;
        justify-content: space-between;
        .content-top {
          @include center-flex(0.8rem);
          flex-direction: row;
          justify-content: flex-end;
          padding: 1rem;
          i {
            background: #e4e3e365;
            backdrop-filter: blur(5px);
            font-size: 1.1rem;
            font-weight: 100;
            padding: 0.7rem;
            border-radius: 50%;
          }
        }
        .content-bottom {
          backdrop-filter: blur(15px);
          background: #85848446;
          padding: 1rem;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          h3 {
            @include font(1.2rem, 500, Chill);
            text-transform: uppercase;
          }
          p {
            text-transform: uppercase;
            @include font(1rem, 500, Rafi);
          }
        }
      }
    }
    .part2 {
      @include center-flex(1rem);
      > div {
        background-image: url(./img4.webp);
        aspect-ratio: 4/3;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
      }
      article {
        background: #1e1e1e;
        padding: 2rem;
        @include center-flex(4rem);
        justify-content: space-between;
        .article-top {
          @include center-flex(1rem);
          p {
            opacity: 0.8;
            @include font(1rem, 300, Rafi);
            text-transform: uppercase;
          }
          h3 {
            text-transform: uppercase;
            @include font(2rem, 500, Chill);
            opacity: 0.9;
          }
        }
        .article-bottom {
          @include center-flex(1rem);
          flex-direction: row;
          i {
            font-size: 1.5rem;
            vertical-align: middle;
            margin-right: 0.5rem;
            opacity: 0.7;
          }
          p {
            opacity: 0.7;
            @include font(1rem, 500, Rafi);
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  main {
    .section1 {
      flex-direction: row;
      .bottom {
        padding: 3rem;
        .text-up {
          color: #f4f2ed;
          @include font(0.85rem, 100, Rafi);
        }
        .text-down {
          h1 {
            @include font(3.6rem, 400, Chill);
          }
        }
      }
    }
    .section2 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5rem;
      padding: 2rem 2.5rem;
      .left,
      .right {
        display: contents;
        p {
          @include font(4rem, 500, Chill);
        }
      }
    }
    .section3 {
      flex-direction: row-reverse;
      @include section-manage-media-query();
    }
    .section4 {
      @include section-manage-media-query();
      flex-direction: row;
    }
    .section5{
      display: grid;
      grid-template-rows: 7fr 8fr;
      .part1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .part2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        article{
          .article-top{
            h3{
              @include font(3rem, 500, Chill);
            }
          }
      //     @include center-flex(1rem);
      // h3 {
      //   text-transform: uppercase;
      //   @include font(4rem, 500, Chill);
      //   opacity: 0.9;
      }
      
        }
      }
    }
  }

